<section class="about-me" id="about-me">
    <div class="container about-container">
        
        <h2 class="about-title">About <span class="about-title-green">me</span></h2>
        <div class="about-container-all-wrap">
      <div class="about-container-wrap">
<picture>
    <source srcset="./img/about-img/ava-mobile.jpg 1x, 
    ./img/about-img/ava-mobile@2.jpg 2x" type="image/jpeg" media="(max-width: 767px)">
    <source srcset="./img/about-img/ava-tab.jpg 1x, 
    ./img/about-img/ava-tab@2.jpg 2x" type="image/jpeg" media="(min-width: 768px) and (max-width: 1279px)">
    <source srcset="./img/about-img/ava-desktop.jpg 1x, 
    ./img/about-img/ava-desktop@2.jpg 2x" type="image/jpeg" media="(min-width: 1280px)">
    <img class="about-img" src="./img/about-img/ava-mobile.jpg" alt="photo by the author">
</picture>

        <div class="about-wrapper-bio">
        <h3 class="about-subtitle">BIO</h3>
        <ul class="about-list">
            <li class="about-item">I'm Maxim Makovskiy, a talented programmer specializing in software development. From a young age, I’ve been passionate about computers and programming — a journey that has shaped my strong technical thinking and creative problem-solving abilities. I take an innovative approach, adapt quickly to new technologies, and grasp complex concepts in a short time. I’m capable of finding efficient solutions, working both independently and as part of a team, and I’m always eager to learn and unafraid of challenges. I see opportunities where others encounter obstacles, and I strive to apply my skills to develop innovative solutions.</li>
            <li class="about-item">Adaptable to both independent and team-oriented work, I collaborate seamlessly with colleagues, exchanging ideas and finding optimal solutions. My professional maturity enables me to navigate challenges and stressful situations with a calm demeanor, maintaining a consistently high quality of work. Committed to self-improvement, I actively engage in studying new technologies and practices to stay current with the latest innovations in the field.</li>
        </ul>
        </div>
        </div>
        <div class="about-wrapper-all">
            <div class="about-wrapper-education">
            <h3 class="about-subtitle">EDUCATION</h3>
            <ul class="about-list">
                <li class="about-item item-education"><svg class="about-icon" width="4" height="4">
                                <use href="./img/symbol-defs.svg#icon-point">
                                </use>
                            </svg>2024 – 2023 (10 months)
                            IT – Full Stack Course, School of Technology Professions</li>
                <li class="about-item item-education"><svg class="about-icon" width="4" height="4">
                                <use href="./img/symbol-defs.svg#icon-point">
                                </use>
                            </svg>High School | 2019 – 2022
                            Full matriculation with majors in Software Engineering, Computer Science, and Physics.</li>
                <li class="about-item item-education"><svg class="about-icon" width="4" height="4">
                                <use href="./img/symbol-defs.svg#icon-point">
                                </use>
                            </svg>IDF (Israel Defense Forces) | 2022 – 2025
                            System Technician Course
                            Python Programming Course</li>
            </ul>
        </div>
            <div class="about-wrapper-role">
            <h3 class="about-subtitle">ROLE</h3>
            <ul class="about-list">
                <li class="about-item item-role">
                    <svg class="about-icon-role" width="4" height="4">
                                <use href="./img/symbol-defs.svg#icon-point">
                                </use>
                            </svg>Frontend development</li>
                <li class="about-item item-role">
                    <svg class="about-icon-role" width="4" height="4">
                                <use href="./img/symbol-defs.svg#icon-point">
                                </use>
                            </svg>HeadlessCMS, Wordpress</li>
                <li class="about-item item-role">
                    <svg class="about-icon-role" width="4" height="4">
                                <use href="./img/symbol-defs.svg#icon-point">
                                </use>
                            </svg>Python (enjoy)</li>
            </ul>
            </div>
        </div>
        </div>
    </div>
</section>