<footer class="footer">
  <div class="container footer-container">
    <div class="footer-upper-block">
      <a href="./index.html" class="footer-logo">
        Maxim<span class="footer-logo-second">Makovskiy</span>
      </a>
      <ul class="footer-list">
        <li class="footer-item">
          <a
            href="https://www.instagram.com/m.makovskyi/"
            target="_blank"
            rel="nofollow noreferrer"
            class="footer-link"
            >Instagram</a
          >
        </li>
        <li class="footer-item">
          <a
            href="https://www.facebook.com/maxmakovskiy/"
            target="_blank"
            rel="nofollow noreferrer"
            class="footer-link"
            >Facebook</a
          >
        </li>
        <li class="footer-item">
          <a
            href="https://www.linkedin.com/in/maxim-makovskiy/"
            target="_blank"
            rel="nofollow noreferrer"
            class="footer-link"
            >LinkedIn</a
          >
        </li>
        <li class="footer-item">
          <a
            href="https://github.com/Max6711"
            target="_blank"
            rel="nofollow noreferrer"
            class="footer-link"
            >GitHub</a
          >
        </li>
      </ul>
    </div>
    <div class="footer-mark-block">
      <p class="copyright-mark">
        © Copyright 2024.<br class="transfer" />
        Made by LloydJefferson
      </p>
    </div>
  </div>
</footer>
